<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links" class="btn btn-primary m-4">
                        Guarda tus horarios   
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="visualizacion" id="visualizar">
                    <img src="/img/persona-con-computadora.jpg">
                <p>!Una mejor facultad es tarea de todos¡</p>
                
          </div>
</div>
<footer >
          <div id="pie_pagina" class="contenedor_links">
            <div class="redes_sociales">
              <h1>Redes sociales</h1>
              <div class="imagenes_redes"><a href=""><img src="/img/instagram.png"> </a>
              <a href=""> <img src="/img/facebook.png"> </a>
              <a href=""><img src="/img/youtube.png"> </a>
              <a href=""><img src="/img/gorjeo.png"> </a>
            </div> 
            </div>
            <div class="interes">
              <h1>Links de interés</h1>
              <li>Pagina de la ULEAM</li>
              <li>Correo Estudiantil</li>
              <li>Office 365</li>
              <li>Vicerrectorado Académico</li>
              <li>Unidades Académicas</li>
            </div>
            <div class="links_facci">
              <h1>Links de la facci</h1>
              <li>Coordinación de Carrera</li>
              <li>Decanato</li>
              <li>Secretariado</li>
              <li>Comisión de titulación</li>
            </div>
          </div>
        </footer>