<div class="container p-4">
    <div class="row">
        <div class="">

            <div class="card bg-dark">
                <div class="card-body">
                    <h1 class="text-light mb-3 h4">Crear un nuevo Horario</h1>
                    
                    <form action="/links/add" method="POST">
                   <div class="container p-4">
 <div class="row">
  <div class="col">
   <input type="time" name="hora_inicio" class="form-control bg-dark text-light" placeholder="hora">
  </div>
  <div class="col">
    <input type="text" name="lunes" class="form-control bg-dark text-light" placeholder="lunes">
  </div>
  <div class="col">
     <input type="text" name="martes" class="form-control bg-dark text-light" placeholder="martes">
  </div>
  <div class="col">
    <input type="text" name="miercoles" class="form-control bg-dark text-light" placeholder="miercoles">
  </div>
  <div class="col">
     <input type="text" name="jueves" class="form-control bg-dark text-light" placeholder="jueves">
  </div>
  <div class="col">
     <input type="text" name="viernes" class="form-control bg-dark text-light" placeholder="viernes">
  </div>
</div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
 <div class="row">
  <div class="col">
   <input type="time" name="horai_nicio2" class="form-control bg-dark text-light" placeholder="hora">
  </div>
  <div class="col">
    <input type="text" name="lunes2" class="form-control bg-dark text-light" placeholder="lunes">
  </div>
  <div class="col">
     <input type="text" name="martes2" class="form-control bg-dark text-light" placeholder="martes">
  </div>
  <div class="col">
    <input type="text" name="miercoles2" class="form-control bg-dark text-light" placeholder="miercoles">
  </div>
  <div class="col">
     <input type="text" name="jueves2" class="form-control bg-dark text-light" placeholder="jueves">
  </div>
  <div class="col">
     <input type="text" name="viernes2" class="form-control bg-dark text-light" placeholder="viernes">
  </div>
</div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
  <div class="row">
  <div class="col">
   <input type="time" name="horai_nicio3" class="form-control bg-dark text-light" placeholder="hora">
  </div>
  <div class="col">
    <input type="text" name="lunes3" class="form-control bg-dark text-light" placeholder="lunes">
  </div>
  <div class="col">
     <input type="text" name="martes3" class="form-control bg-dark text-light" placeholder="martes">
  </div>
  <div class="col">
    <input type="text" name="miercoles3" class="form-control bg-dark text-light" placeholder="miercoles">
  </div>
  <div class="col">
     <input type="text" name="jueves3" class="form-control bg-dark text-light" placeholder="jueves">
  </div>
  <div class="col">
     <input type="text" name="viernes3" class="form-control bg-dark text-light" placeholder="viernes">
  </div>
</div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
  <div class="row">
  <div class="col">
   <input type="time" name="horai_nicio4" class="form-control bg-dark text-light" placeholder="hora">
  </div>
  <div class="col">
    <input type="text" name="lunes4" class="form-control bg-dark text-light" placeholder="lunes">
  </div>
  <div class="col">
     <input type="text" name="martes4" class="form-control bg-dark text-light" placeholder="martes">
  </div>
  <div class="col">
    <input type="text" name="miercoles4" class="form-control bg-dark text-light" placeholder="miercoles">
  </div>
  <div class="col">
     <input type="text" name="jueves4" class="form-control bg-dark text-light" placeholder="jueves">
  </div>
  <div class="col">
     <input type="text" name="viernes4" class="form-control bg-dark text-light" placeholder="viernes">
  </div>
</div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
  <div class="row">
  <div class="col">
   <input type="time" name="horai_nicio5" class="form-control bg-dark text-light" placeholder="hora">
  </div>
  <div class="col">
    <input type="text" name="lunes5" class="form-control bg-dark text-light" placeholder="lunes">
  </div>
  <div class="col">
     <input type="text" name="martes5" class="form-control bg-dark text-light" placeholder="martes">
  </div>
  <div class="col">
    <input type="text" name="miercoles5" class="form-control bg-dark text-light" placeholder="miercoles">
  </div>
  <div class="col">
     <input type="text" name="jueves5" class="form-control bg-dark text-light" placeholder="jueves">
  </div>
  <div class="col">
     <input type="text" name="viernes5" class="form-control bg-dark text-light" placeholder="viernes">
  </div>
</div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
</div>
                        <div class="card-body">
                          <input type="text" name="title" class="form-control bg-dark text-light" placeholder="Title"
                                autofocus>
                        </div>
                        
                        <div class="card-body">
                            <textarea name="description" rows="2" class="form-control bg-dark text-light"
                                placeholder="Description"></textarea>
                        </div>

                        <div class="form-group">
                            <button  class="btn btn-success btn-block" >
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<form action="/links/add" method="POST">
    
    </form>
    </div>
    
</div>
 <footer >
          <div id="pie_pagina" class="contenedor_links">
            <div class="redes_sociales">
              <h1>Redes sociales</h1>
              <div class="imagenes_redes"><a href=""><img src="/img/instagram.png"> </a>
              <a href=""> <img src="/img/facebook.png"> </a>
              <a href=""><img src="/img/youtube.png"> </a>
              <a href=""><img src="/img/gorjeo.png"> </a>
            </div> 
            </div>
            <div class="interes">
              <h1>Links de interés</h1>
              <li>Pagina de la ULEAM</li>
              <li>Correo Estudiantil</li>
              <li>Office 365</li>
              <li>Vicerrectorado Académico</li>
              <li>Unidades Académicas</li>
            </div>
            <div class="links_facci">
              <h1>Links de la facci</h1>
              <li>Coordinación de Carrera</li>
              <li>Decanato</li>
              <li>Secretariado</li>
              <li>Comisión de titulación</li>
            </div>
          </div>
        </footer>
  