<!-- Acerca de nosotros -->
<div>
    <section class="acerca-de">
    <div id="nosotros" class="info-container">
      <h1>Acerca de Nosotros</h1>
      
      <div class="about-gallery">
        <img src="/img/imagen1.jpg" alt="">
        <img src="/img/imagen2.jpg" alt="">
        <img src="/img/imagen3.jpg" alt="">
      </div>

      <div class="about-more"><button>Leer mas</button></div>

    </div>
    </section>
</div>